.tablero{
    width: 1010px;
    height: 480px;
}

.jugador{
    border: thin groove brown;
    width: 500px;
    height: 440px;
    float: left;
}

.elegirCarta{
    height: 260px;
    width: 180px;
    margin-top: 20px;
    margin-left: 20px;
}

.mano{
    height: 260px;
    width: 180px;
    margin-top: 20px;
    margin-left: 20px;
    visibility: hidden;
}

.almacenJugador{
    height: 120px;
    margin-left: 30px;
}

.almacenJugador img{
    height: 100px;
    width: 70px;
    margin-top: 10px;
    margin-left: 5px;
}

.banca{
    border: thin groove brown;
    width: 500px;
    height: 440px;
    float: left;
}

.elegirCartaBanca{
    height: 260px;
    width: 180px;
    margin-top: 20px;
    margin-left: 20px;
}

.manoBanca{
    height: 260px;
    width: 180px;
    margin-top: 20px;
    margin-left: 20px;
    visibility: hidden;
}

.almacenBanca{
    height: 120px;
    margin-left: 30px;
}

.almacenBanca img{
    height: 100px;
    width: 70px;
    margin-top: 10px;
    margin-left: 5px;
}

