.box{
    width: 100px;
    height: 100px;
    padding: 20px;
    background: red;
}

.box_verde{
    width: 100px;
    height: 100px;
    padding: 20px;

    background: green;
}

.galeria{
    width: 120px;
    height: auto;
    
}
.item_galeria{
    display: inline-flex;
    border: black 1px solid;
    width: 35px;
    float: left;
    
}
.item_galeria1{
    display: inline-flex;
    border: black 1px solid;
    width: 35px;
    float: left;
    background: red;
}